<template>
    <v-col>
        <!-- Cas 1 -->
        <!-- <CalendarComponent :onChange="RefreshScheduledCourses" /> -->
        <!-- Cas 2 -->
        <!-- calendrier/:id -->
        <router-view :id="$route.params.id" />
    </v-col>
</template>

<script>
// import CalendarComponent from '@/components/CalendarComponent.vue';

export default {
    name: "CalendarView",
    methods: {
        rollback() {
            this.$store.dispatch("scheduledCourses/rollbackScheduledCourses");
        },
        // le cas ou on importe un composant
        RefreshScheduledCourses()
        {
            this.$store.dispatch("scheduledCourses/refreshScheduledCourses");
        }
    },
    mounted() {
        // emit on refreshScheduledCourses
        // Le cas ou on dialogue avec le composant en "remote"
        // this.$eventBus.on("refreshScheduledCourses", () => {
        //     this.$store.dispatch("scheduledCourses/refreshScheduledCourses");
        // });
    },
    // components: { CalendarComponent }
}
</script>