<template>
    <div>
        <v-sheet tile height="54" color="grey lighten-3" class="d-flex">
            <v-btn icon class="ma-2" @click="$refs.calendar.prev()">
                <v-icon>mdi-chevron-left</v-icon>
            </v-btn>
            <v-select v-model="type" :items="types" dense outlined hide-details class="ma-2" label="type"></v-select>
            <v-select v-model="mode" :items="modes" dense outlined hide-details label="event-overlap-mode"
                class="ma-2"></v-select>
            <v-select v-model="weekday" :items="weekdays" dense outlined hide-details label="weekdays"
                class="ma-2"></v-select>
            <v-spacer></v-spacer>
            <v-btn icon class="ma-2" @click="$refs.calendar.next()">
                <v-icon>mdi-chevron-right</v-icon>
            </v-btn>
        </v-sheet>
        <v-sheet height="600">
            <v-calendar ref="calendar" v-model="value" :weekdays="weekday" :type="type" :events="events"
                :event-overlap-mode="mode" :event-overlap-threshold="60" :event-color="getEventColor" :event-ripple="false"
                @change="getEvents" @mousedown:event="startDrag" @mousedown:time="startTime" @mousemove:time="mouseMove"
                @mouseup:time="endDrag" @mouseleave.native="cancelDrag">

                <!-- divide day by 4 column -->
                <template v-slot:day-body="{}">
                    <div style="width:100%;position: absolute; top:1em;left:0em;height:100px;display:flex;">
                        <div style="
                                display: inline-flex;
                                flex: 1;
                                text-align: center;
                              " v-for="i in Object.keys(getScheduledCoursesGroupedByGrp)" :key="i">
                            {{ i }}
                        </div>
                    </div>
                </template>

                <!-- event override -->
                <template v-slot:event="{ event }">
                    <div style="width:100%;position: absolute; top:1em;left:0em;height:100px;display:flex;">
                        <div style="
                                display: inline-flex;
                                overflow:hidden;
                                margin:0px;
                                flex: 1;
                                text-align: center;
                              " v-for="i in Object.keys(getScheduledCoursesGroupedByGrp)" :key="i">
                            <template v-if="i == event.meta.course.groups[0].name">
                                <div style="background-color:red;">
                                    {{ event.meta.room.name }}
                                    <br />
                                    {{ i }}
                                </div>
                            </template>
                            <template v-else>
                                <div style="color:none;">
                                    {{ }}
                                </div>
                            </template>
                        </div>
                    </div>
                </template>

            </v-calendar>
        </v-sheet>
    </div>
</template>
  
<script>
import { mapGetters } from 'vuex'
import moment from 'moment'
export default {
    name: 'CalendarComponent',
    computed: {
        ...mapGetters('scheduledCourses', ['getScheduledCourses', 'getScheduledCoursesGroupedByGrp']),

        // ❌ bad practices 
        // ...mapState(['scheduledCourses']),

    },
    data: () => ({
        type: '4day',
        types: ['month', 'week', 'day', '4day'],
        mode: 'stack',
        modes: ['stack', 'column'],
        weekday: [0, 1, 2, 3, 4, 5, 6],
        weekdays: [
            { text: 'Sun - Sat', value: [0, 1, 2, 3, 4, 5, 6] },
            { text: 'Mon - Sun', value: [1, 2, 3, 4, 5, 6, 0] },
            { text: 'Mon - Fri', value: [1, 2, 3, 4, 5] },
            { text: 'Mon, Wed, Fri', value: [1, 3, 5] },
        ],
        openModal: false,
        value: '',
        events: [],
        colors: ['#2196F3', '#3F51B5', '#673AB7', '#00BCD4', '#4CAF50', '#FF9800', '#757575'],
        names: ['Meeting', 'Holiday', 'PTO', 'Travel', 'Event', 'Birthday', 'Conference', 'Party'],
        dragEvent: null,
        dragStart: null,
        lastEvent: '',
        moment: moment,
        createEvent: null,
        createStart: null,
        extendOriginal: null,
    }),
    mounted() {
        // Refresh store data for ScheduledCourses
        // use event bus to refresh data
        // this.$eventBus.$on('refreshScheduledCourses', () => {
        //     this.$store.dispatch('scheduledCourses/refreshScheduledCourses')
        // })
    },
    methods: {

        onUpdate() {
            // emit event bus
            this.$emit('refreshScheduledCourses')
        },
        getEvents() {
            const events = []
            let scheduledCourses = this.getScheduledCourses

            for (let i = 0; i < scheduledCourses.length; i++) {
                events.push({
                    name: 'ScheduledCourses ' + i,
                    start: scheduledCourses[i].start_time,
                    end: moment(scheduledCourses[i].start_time).add(1, 'hour').format('YYYY-MM-DD HH:mm'),
                    color: this.colors[this.rnd(0, this.colors.length - 1)],
                    timed: true,
                    meta: scheduledCourses[i]
                })
            }

            this.events = events
        },
        getEventColor(event) {
            const rgb = parseInt(event.color.substring(1), 16);
            const r = (rgb >> 16) & 0xFF;
            const g = (rgb >> 8) & 0xFF;
            const b = (rgb >> 0) & 0xFF;

            return event === this.dragEvent
                ? `rgba(${r}, ${g}, ${b}, 0.5)`
                : event === this.createEvent
                    ? `rgba(${r}, ${g}, ${b}, 0.5)`
                    : event.color;
        },
        rnd(a, b) {
            return Math.floor((b - a + 1) * Math.random()) + a
        },
        formatDate(a, withTime) {
            return withTime
                ? `${a.getFullYear()}-${a.getMonth() + 1}-${a.getDate()} ${a.getHours()}:${a.getMinutes()}`
                : `${a.getFullYear()}-${a.getMonth() + 1}-${a.getDate()}`
        },
        eventMove(e) {
            console.log('eventMove', e);
        },
        startDrag(e) {
            if (e.event && e.timed) {
                this.dragEvent = e.event;
                this.dragTime = null;
                this.extendOriginal = null;
            }

            this.lastEvent = 'startDrag';
        },
        startTime(e) {
            const mouse = this.toDate(e);

            if (this.dragEvent && this.dragTime === null) {
                const start = this.toDate(this.dragEvent.start);

                this.dragTime = mouse.getTime() - start.getTime();

            } else {
                this.createStart = this.roundTime(mouse.getTime());
                this.createEvent = {
                    name: '(no title)',
                    start: this.toTimestamp(new Date(this.createStart)),
                    end: this.toTimestamp(new Date(this.createStart)),
                    color: this.colors[this.rnd(0, this.colors.length - 1)],
                    meta: rooms[i]
                };
                this.events.push(this.createEvent);
            }
            this.lastEvent = 'startTime';
        },
        extendBottom(event) {
            this.createEvent = event;
            this.createStart = this.toDate(event.start).getTime();
            this.extendOriginal = event.end;
        },
        mouseMoveEvent(e) {
            console.log('mouseMoveEvent', e);
        },
        mouseMove(e) {
            if (this.dragEvent && this.dragTime !== null) {
                const start = this.toDate(this.dragEvent.start);
                const end = this.toDate(this.dragEvent.end);
                const duration = end.getTime() - start.getTime();
                const mouse = this.toDate(e);

                const newStartTime = mouse.getTime() - this.dragTime;
                const newStart = new Date(this.roundTime(newStartTime));
                const newEnd = new Date(newStart.getTime() + duration);

                this.dragEvent.start = this.toTimestamp(newStart);
                this.dragEvent.end = this.toTimestamp(newEnd);
            }
            else if (this.createEvent && this.createStart !== null) {
                const mouse = this.toDate(e).getTime();
                const mouseRounded = this.roundTime(mouse, false);
                const min = Math.min(mouseRounded, this.createStart);
                const max = Math.max(mouseRounded, this.createStart);

                this.createEvent.start = this.toTimestamp(new Date(min));
                this.createEvent.end = this.toTimestamp(new Date(max));
            }
        },
        endDrag(e) {
            this.dragTime = null;
            this.dragEvent = null;
            this.createEvent = null;
            this.createStart = null;
            this.extendOriginal = null;

            this.lastEvent = 'endDrag';
        },
        cancelDrag(e) {
            if (this.createEvent) {
                if (this.extendOriginal) {
                    this.createEvent.end = this.extendOriginal;
                } else {
                    const i = this.events.indexOf(this.createEvent);
                    if (i !== -1) {
                        this.events.splice(i, 1);
                    }
                }
            }

            this.createEvent = null;
            this.createStart = null;
            this.dragTime = null;
            this.dragEvent = null;

            this.lastEvent = 'cancelDrag';
        },
        roundTime(time, down = true) {
            const roundDownTime = 15 * 60 * 1000; // 15 minutes

            return down
                ? time - time % roundDownTime
                : time + (roundDownTime - (time % roundDownTime));
        },
        toDate(tms) {
            return typeof tms === 'string'
                ? new Date(tms)
                : new Date(tms.year, tms.month - 1, tms.day, tms.hour, tms.minute);
        },
        toTimestamp(date) {
            return `${date.getFullYear()}-${date.getMonth() + 1}-${date.getDate()} ${date.getHours()}:${date.getMinutes()}`;
        },
    },
}
</script>
  
<style lang="scss">
#app {
    font-family: Avenir, Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    color: #2c3e50;
}

nav {
    padding: 30px;

    a {
        font-weight: bold;
        color: #2c3e50;

        &.router-link-exact-active {
            color: #42b983;
        }
    }
}

.v-calendar {
    user-select: none;
    -webkit-user-select: none;
}

.v-event-drag-bottom {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 4px;
    height: 4px;
    cursor: ns-resize;
}

.v-event-drag-bottom::after {
    display: none;
    position: absolute;
    left: 50%;
    height: 4px;
    border-top: 1px solid white;
    border-bottom: 1px solid white;
    width: 20px;
    margin-left: -10px;
    opacity: 0.8;
    content: '';
}

.v-event-timed:hover .v-event-drag-bottom::after {
    display: block;
}

.v-event-timed.white--text {
    background-color: rgba(0, 0, 0, 0) !important;
}

.theme--light.v-calendar-events .v-event-timed {
    border: none !important;
}

.v-event-timed.white--text {
    width: 100% !important;
    left: 0% !important;
    font-size: 1em;
}

.v-calendar-daily__day.v-present {
    position: relative;
}
</style>
  